<!-- <div class="pl-2 my-2 text-xs">
  {{ user?.email }}
</div> -->
<ul class="font-base text-md w-full">
  <a routerLink="/account-settings" routerLinkActive="active" ariaCurrentWhenActive="page">
    <li class="w-full p-1 transition duration-[50ms] ease-in hover:bg-gray-200 cursor-pointer">
      Account Settings
    </li>
  </a>
  <a routerLinkActive="active" ariaCurrentWhenActive="page" (click)="signOut()">
    <li class="w-full p-1 transition duration-[50ms] ease-in hover:bg-gray-200 cursor-pointer">
      Logout
    </li>
  </a>

</ul>