<standard-page-wrapper title="Terms of Use">
  <main>
    <p class="mt-5">
      The content shared on this website, including user-generated flow diagrams and other materials related to athletic endeavors, is provided &quot;as is&quot; without any guarantees or warranties. The website owner is not liable for the accuracy, reliability, or validity of any content shared by users.
    </p>
    <p class="mt-5">
      By using this website, you agree that the website owner has the right to modify, remove, or delete any content at their discretion and at any time without prior notice. The website owner also reserves the right to discontinue the service and close the site at any time without any liability or obligation to maintain or store user content.
    </p>
    <p class="mt-5">
      Users are free to use the data shared on this platform as they see fit, but the website owner assumes no responsibility for how the content is used or shared beyond the platform.
    </p>
    <p class="mt-5">
      Flobro does not give any warranty, guarantee or other term as to the quality, fitness for purpose or otherwise for the software. You hereby release Flobro from any and all obligations, liabilities and claims in using this software.
    </p>
  </main>
</standard-page-wrapper>
