<main class="py-4 w-24 mr-2">
    <ul class="font-semibold text-md w">
        <li>
            <a routerLink="/alt" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="py-2 px-6 w-full transition duration-100 ease-in-out hover:bg-gray-400 cursor-pointer"
            >
                Logout
            </a>
        </li>
        <li class="mt-8">
            <a routerLink="/alt" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="py-2 px-6 w-full transition duration-100 ease-in-out hover:bg-gray-400 cursor-pointer"
            >
                Option 2
            </a>
        </li>
    </ul>
</main>