<standard-page-wrapper>
  <main class="border rounded flex flex-col justify-start items-center pt-6 pb-6 px-8">
    <section>
      <p-divider [align]="'center'" type="solid">
        <span>Reset Password</span>
      </p-divider>

      <div class="my-8"></div>

      <form (ngSubmit)="onSubmitResetPassword()" [formGroup]="form">
        <p-floatlabel variant="on">
          <input 
            pInputText
            class="w-full"
            id="on_label"
            type="email"
            formControlName="email"
            autocomplete="off"
            [disabled]="true"
          />
          <label for="on_label">Email</label>
        </p-floatlabel>

        <div class="mt-6">
          <p-floatlabel variant="on">
            <input 
              pInputText
              class="w-full"
              id="on_label"
              formControlName="newPassword"
              autocomplete="off"
              [type]="form.value.isPasswordInView ? 'text' : 'password' "
            />
            <label for="on_label">Password</label>
          </p-floatlabel>
        </div>

        <div class="mt-6 mb-1">
          <p-floatlabel variant="on">
            <input 
              pInputText
              class="w-full"
              id="on_label"
              formControlName="retypeNewPassword"
              autocomplete="off"
              [type]="form.value.isPasswordInView ? 'text' : 'password' "
  
            />
            <label for="on_label">Re-type Password</label>
          </p-floatlabel>
        </div>

        <div class="flex flex-row flex-nowrap justify-start items-start ml-3">
          <p-checkbox
            binary="true"
            size="small"
            id="on_label"
            formControlName="isPasswordInView"
            (onChange)="handlePasswordInView($event)"
            inputId="checkbox" />
          <div class="ml-2 mt-2 font-light text-xs select-none">
            View Password
          </div>
        </div>

        <div class="w-full flex flex-row justify-end mt-8">
          <p-button
            class="mr-2"
            label="Clear"
            (click)="clearPassword()"
            size="small"
          />
          <p-button
            [disabled]="!isFormValid()"
            label="Submit"
            type="submit"
            size="small"
          />
        </div>
      </form>
    </section>

  </main>

</standard-page-wrapper>