<standard-page-wrapper>
  <main class="md:border rounded-sm border-neutral-content flex flex-col justify-start items-center p-8 w-[20rem] md:w-[25rem]">
    <div class="w-full">
      <div class="divider font-bold text-xl mb-10">Register Account</div>

      <form (ngSubmit)="onSubmitRegisterUser()" [formGroup]="form">
        <div>
          <label class="floating-label">
            <input 
              class="w-full input input-md"
              id="on_label"
              type="email"
              formControlName="email"
              autocomplete="off" 
            />
            <span>Email</span>
          </label>
        </div>

        <div class="mt-6">
          <label class="floating-label">
            <input 
              class="w-full input input-md"
              id="on_label"
              formControlName="password"
              autocomplete="off"
              [type]="form.value.isPasswordInView ? 'text' : 'password' "
            />
            <span>Password</span>
          </label>
        </div>

        <div class="mt-6 mb-1">
          <label class="floating-label">
            <input 
              class="w-full input input-md"
              id="on_label"
              formControlName="retypePassword"
              autocomplete="off"
              [type]="form.value.isPasswordInView ? 'text' : 'password' "
            />
            <span>Re-type Password</span>
          </label>
        </div>

        <div class="flex flex-row flex-nowrap justify-start items-start ml-3 w-full">
          <label class="fieldset-label mt-2 -translate-x-1">
            <input 
              type="checkbox"
              binary="true"
              checked="checked"
              class="checkbox checkbox-sm rounded-xs"
              id="on_label"
              formControlName="isPasswordInView"
              (onChange)="handlePasswordInView($event)"
              inputId="checkbox" />
              <span class="ml-1 text-sm text-base-content">View Password</span>
          </label>
        </div>

        <div class="w-full flex flex-row justify-end mt-8">
          <button
            class="btn mr-2"
            size="small"
            (click)="form.reset()"
          >Clear</button>
          <button
            class="btn"
            [disabled]="!isFormValid()"
            type="submit"
            size="small"
          >Register</button>
        </div>
      </form>
    </div>

    <div class="divider">Social Login/Register</div>

    <div class="mt-3">
      <div class="w-38 p-2 flex flex-row flex-nowrap justify-center items-center cursor-pointer pRipple pButton
      border text-slate-700 border-slate-400 rounded-sm bg-white hover:bg-slate-100 transition-colors duration-75 ease-in"
      (click)="oAuthSignIn('google')">
        <div>
          <img src="icon/google.svg" alt="" class="w-[24px] h-[24px]">
        </div>
        <div class="ml-2 text-base">
          Google
        </div>
      </div>
    </div>
    <div class="mt-3">
      <div class="w-38 p-2 flex flex-row flex-nowrap justify-center items-center cursor-pointer pRipple pButton 
      border text-slate-700 border-slate-400 rounded-sm bg-white hover:bg-slate-100 transition-colors duration-75 ease-in" 
      (click)="oAuthSignIn('github')">
        <div>
          <img src="icon/github.svg" alt="" class="w-[24px] h-[24px]">
        </div>  
        <div class="ml-2 text-base">
          Github
        </div>
    </div>
    </div>
    <div class="mt-3">
      <div class="w-38 p-2 flex flex-row flex-nowrap justify-center items-center cursor-pointer pRipple pButton
      border text-slate-700 border-slate-400 rounded-sm bg-white hover:bg-slate-100 transition-colors duration-75 ease-in"
      (click)="oAuthSignIn('facebook')">
        <div>
          <img src="icon/facebook.svg" alt="" class="w-[24px] h-[24px]">
        </div>
        <div class="ml-2 text-base">
          Facebook
        </div>
      </div>
    </div>

  </main>

</standard-page-wrapper>