<standard-page-wrapper>
  <main class="h-screen flex flex-col justify-start items-start px-4">
    <div class="mt-20 text-2xl font-bold">
      Your user registration has been successful!
    </div>

    <div class="mt-12">
      You should receive an email shortly at {{ email }} requesting you access a link to confirm your account. Please visit the
      link provided to login to confirm and login to your account.
    </div>
    <p class="mt-6">
      If registration confirmation email does not appear in inbox after a few minutes be sure to check your spam folder.
    </p>

  </main>
</standard-page-wrapper>