<standard-page-wrapper>
  <main class="h-screen flex flex-col justify-start items-start px-4">
    <div class="mt-20">
      The password provided for the email address {{ email }} was incorrect or an account does not exist for this email.
    </div>
  
    <div class="mt-8">
      If you believe an account exists and forget your password, <a routerLink="/reset-password" routerLinkActive="active" ariaCurrentWhenActive="page">reset your password</a>, 
      otherwise <a routerLink="/register-account" routerLinkActive="active" ariaCurrentWhenActive="page">register</a> an account with email 
      and password or <a routerLink="/sign-in" routerLinkActive="active" ariaCurrentWhenActive="page">sign in with OAuth</a>.
    </div>
  </main>
</standard-page-wrapper>