<main class="w-full pt-6 lg:pt-7 px-2 md:px-6 lg:px-8 flex flex-row flex-nowrap justify-between items-center">

  <!-- left side -->
  <section class="w-1/3 md:w-fit flex flex-nowrap flew-row justify-start items-center">
    <!-- site icon & name -->
    <div class="hidden md:flex">
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
        <div class="flex flex-row flex-nowrap justify-center items-center">
          <div class="translate-y-1">
            <i class="pi pi-qrcode" style="font-size: 1.25rem; color: #c3ff38"></i>
          </div>
          <div class="font-semibold opacity-80 text-2xl ml-3 hidden md:flex subpixel-antialiased">
            <div class="">
              {{ siteName }}
            </div>
          </div>
        </div>
      </a>
    </div>

    <!-- mobile nav hamburger icon popover trigger -->
    <div (click)="mobileNavMenuPopover.toggle($event)"
    class="flex md:hidden
    transition duration-150 ease-in-out hover:bg-gray-400 rounded-full p-2 cursor-pointer">
      @if (isDarkMode) {
        <i class="pi pi-bars" style="font-size: 1rem; color: white"></i>
      } 
      @else {
        <i class="pi pi-bars" style="font-size: 1rem; color: slategray"></i>
      }
    </div>

  </section>

  <!-- mobile only middle icon -->
  <section class="flex w-1/3 md:hidden justify-center items-center">
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
      <div class="flex flex-row flex-nowrap justify-center items-center">
        <div>
          <i class="pi pi-qrcode" style="font-size: 1.25rem; color: #c3ff38"></i>
        </div>
      </div>
    </a>
  </section>

  <!-- right side -->
  <section class="w-1/3 md:w-fit flex flex-nowrap flex-row justify-end items-center">

    <!-- logged out desktop wide nav links -->
    @if (authUser === null) {
      <ul class="hidden mr-6 md:flex font-base text-sm opacity-65 subpixel-antialiased">
        @for (item of navRoutes.loggedOutNavRoutes; track item.name; let i = $index) {
          <li [class]="i !==0 ? 'ml-8' : '' ">
            <a [routerLink]="item.route" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="transition duration-100 ease-in-out hover:text-gray-600"
            >
              {{ item.name }}
            </a>
          </li>
        }
      </ul>
    }

    <!-- logged in desktop wide nav links -->
    @if (authUser !== null) {
      <ul class="hidden mr-6 md:flex font-base text-sm opacity-65 subpixel-antialiased">
        @for (item of navRoutes.loggedInNavRoutes; track item.name; let i = $index) {
          <li [class]="i !==0 ? 'ml-8' : '' ">
            <a [routerLink]="item.route" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="transition duration-100 ease-in-out hover:text-gray-600"
            >
              {{ item.name }}
            </a>
          </li>
        }
      </ul>
    }

    <!-- dark mode toggle -->
    <div (click)="toggleDarkMode()" class="mr-5 h-6 w-6
    transition duration-150 ease-in-out hover:bg-gray-400 rounded-full p-1 cursor-pointer
    translate-y-0.5">
      <i [class]="isDarkMode ? 'pi pi-sun' : 'pi pi-moon' "
      [style]=" isDarkMode ? 'font-size: 0.75rem; color: white' : 'font-size: 0.75rem; color: slategray' "
      class="-translate-y-1.5 translate-x-0.5">
      </i>
    </div>

    <!-- logged out sign in route -->
    @if (authUser === null) {
      <ul class="font-base text-sm opacity-65 subpixel-antialiased mr-1">
        <li>
          <a routerLink="/sign-in" routerLinkActive="active" ariaCurrentWhenActive="page"
          class="transition duration-100 ease-in-out hover:text-gray-600"
          >
            Sign In
          </a>
        </li>
      </ul>
    }

    <!-- logged in user - avatar image provided -->
    @if (authUser !== null && authUser.imgUrl) {
      <div class="flex justify-end items-center mr-1">
        <p-avatar (click)="userMenuPopover.toggle($event)"
        class="cursor-pointer"
        [style]="{height: '24px', width: '24px'}"
        [image]="authUser.imgUrl" 
        shape="circle" />
      </div>
    }

    <!-- logged in user - no image but fullname -->
    @if (authUser !== null && authUser.imgUrl === null && authUser.fullName) {
      <div class="flex justify-end items-center mr-1">
        <div class="flex justify-center items-center h-[24px] w-[24px] bg-slate-700 rounded-full">
          <div class="font-bold">
            {{ authUser.fullName[0] }}
          </div>
        </div>
      </div>
    }

    <!-- logged in standard user - no image but fullname -->
    @if (authUser !== null && authUser.imgUrl === null && !authUser.fullName) {
      <div class="flex justify-end items-center mr-1 bg-red-300 cursor-pointer w-[24px] h-[24px] rounded-full" (click)="userMenuPopover.toggle($event)">
        <img src="../../assets/img/blank-user-avatar.png" alt="" class="w-[24px] h-[24px]">
        <!-- <p-avatar (click)="userMenuPopover.toggle($event)"
        class="cursor-pointer"
        [style]="{height: '24px', width: '24px'}"
        image="../../assets/img/blank-user-avatar.png" 
        shape="circle" /> -->
      </div>
    }

  </section>

</main>

<p-popover #mobileNavMenuPopover>
  <mobile-nav-popover [isUserLoggedIn]="authUser !== null"></mobile-nav-popover>
</p-popover>

<p-popover #userMenuPopover>
  <user-nav-popover (close)="userMenuPopover.hide()" [user]="authUser"></user-nav-popover>
</p-popover>

