<main class="w-full pt-28 

bg-gradient-to-b from-transparent via-slate-200 via-30% to-transparent
dark:bg-gradient-to-b dark:from-transparent dark:via-gray-900 dark:via-30% dark:to-transparent">
  <section class="flex flex-row justify-start items-start pb-12">
    <!-- column 1 -->
    <div class="w-1/2 pl-7">
      <ul class="text-sm font-base opacity-85">
        <li class="font-bold opacity-100 mb-4">
          About Us
        </li>
        <li>
          <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page"
          class="transition duration-[50ms] ease-in hover:text-gray-600 cursor-pointer"
          >
            About
          </a>
        </li>
        <li class="mt-2">
          <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page"
          class="transition duration-[50ms] ease-in hover:text-gray-600 cursor-pointer"
          >
            Contact
          </a>
        </li>
      </ul>
    </div>

    <!-- column 2 -->
    <div>
      <ul class="text-sm font-base opacity-85">
        <li class="font-bold opacity-100 mb-4">
          Legal Information
        </li>
        <li>
          <a routerLink="/terms-of-use" routerLinkActive="active" ariaCurrentWhenActive="page"
          class="transition duration-[50ms] ease-in hover:text-gray-600 cursor-pointer"
          >
            Terms of Use
          </a>
        </li>
        <li class="mt-2">
          <a routerLink="/privacy-policy" routerLinkActive="active" ariaCurrentWhenActive="page"
          class="transition duration-[50ms] ease-in hover:text-gray-600 cursor-pointer"
          >
            Privacy Policy
          </a>
        </li>
        <li class="mt-2">
          <a routerLink="/cookie-policy" routerLinkActive="active" ariaCurrentWhenActive="page"
          class="transition duration-[50ms] ease-in hover:text-gray-600 cursor-pointer"
          >
            Cookie Policy
          </a>
        </li>
      </ul>
    </div>
  </section>

  <p-divider class="mx-4" />

  <!-- site icon & name -->
  <section class="pt-6 pb-10 px-4">
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
      <div class="flex flex-row flex-nowrap justify-start items-center">
        <div class="translate-y-1">
          <i class="pi pi-qrcode" style="font-size: 1.25rem; color: #c3ff38"></i>
        </div>
        <div class="font-semibold opacity-80 text-2xl ml-3 subpixel-antialiased">
          <div class="">
            {{ siteName }}
          </div>
        </div>
      </div>
    </a>
  </section>

</main>