<main class="w-full bg-gray-500 py-32">
    <div class="max-w-[700px] flex flex-row justify-around items-start">
        <!-- column 1 -->
        <div>
            <ul class="font-semibold text-md w">
                <li>
                    <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page"
                    class="py-2 px-6 w-full transition duration-100 ease-in-out hover:bg-gray-400 cursor-pointer"
                    >
                        About
                    </a>
                </li>
                <li class="mt-8">
                    <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page"
                    class="py-2 px-6 w-full transition duration-100 ease-in-out hover:bg-gray-400 cursor-pointer"
                    >
                        Contact
                    </a>
                </li>
            </ul>
        </div>


        <!-- column 2 -->
        <ul class="font-semibold text-md w">
            <li>
                <a routerLink="/terms-of-use" routerLinkActive="active" ariaCurrentWhenActive="page"
                class="py-2 px-6 w-full transition duration-100 ease-in-out hover:bg-gray-400 cursor-pointer"
                >
                    Terms of Use
                </a>
            </li>
            <li class="mt-8">
                <a routerLink="/privacy-policy" routerLinkActive="active" ariaCurrentWhenActive="page"
                class="py-2 px-6 w-full transition duration-100 ease-in-out hover:bg-gray-400 cursor-pointer"
                >
                    Privacy Policy
                </a>
            </li>
            <li class="mt-8">
                <a routerLink="/cookie-policy" routerLinkActive="active" ariaCurrentWhenActive="page"
                class="py-2 px-6 w-full transition duration-100 ease-in-out hover:bg-gray-400 cursor-pointer"
                >
                    Cookie Policy
                </a>
            </li>
        </ul>

    </div>

</main>