<standard-page-wrapper>
  <main class="w-full flex flex-col justify-around items-center">
    <h1 class="text-slate-900 font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight text-center dark:text-slate-100">
      Todo
    </h1>
    <!-- input section -->
    <section class="my-4">
      <div class=" w-full flex flex-row justify-between">
        <div class="flex justify-center">
          <button class="btn" size="small" (click)="addLorem20()">Add Lorem 20</button>
        </div>
        @if (!isUpdateMode) {
          <div class="card flex justify-center">
            <button class="btn" size="small" (click)="submitTodo()">Submit</button>
          </div>
        }
        @if (isUpdateMode) {
          <div class="card flex justify-center">
            <button class="btn" (click)="updateTodo()" severity="warn">Update</button>
          </div>
        }
      </div>
      <div class="card flex justify-center my-4 border-2 rounded">
        <textarea rows="8" cols="34" pTextarea [(ngModel)]="todoText"></textarea>
      </div>
    </section>
  
    <div class="divider w-[90%]"></div>
  
    <!-- listing section -->
    <section class="flex flex-row flex-wrap justify-around items-center py-8">
      @for (item of todos; track item.id) {
        @if (item.id) {
          <div class="m-4 p-4 border-2 rounded-lg w-96 h-48 overflow-y-scroll flex flex-col bg-slate-50 dark:bg-zinc-800">
            <div class="mt-2 w-full flex flex-row flex-nowrap justify-end">
              <div>
                <button class="btn" size="small" (click)="switchToUpdateMode(item)">Update Todo</button>
              </div>
              <div class="ml-2">
                <button class="btn" size="small" (click)="deleteTodo(item.id)">Delete Todo</button>
              </div>
            </div>
            <div class="mt-2 text-sm font-extralight subpixel-antialiased leading-5 tracking-tight">
              {{ item.detail}}
            </div>
          </div>
        }
      }
    </section>
  </main>
</standard-page-wrapper>