<header class='flex border-b py-4 px-4 sm:px-10 font-sans min-h-[70px] tracking-wide relative z-50'>
  <div class='flex flex-wrap items-center gap-4 w-full'>
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
      <div class="flex flex-row flex-nowrap justify-center items-center">
        <div class="translate-y-1">
          <ng-icon [svg]="logoIcon" size="75px"  color="dodgerblue"/>
        </div>
        <div class="font-semibold opacity-80 text-2xl ml-3 hidden md:flex subpixel-antialiased">
          <div class="">
            {{ siteName }}
          </div>
        </div>
      </div>
    </a>

    <div
      class='lg:!flex lg:flex-auto lg:ml-12 max-lg:hidden max-lg:before:fixed max-lg:before:bg-black max-lg:before:opacity-50 max-lg:before:inset-0 max-lg:before:z-50'>
      <button class='lg:hidden fixed top-2 right-4 z-[100] rounded-full bg-white p-3'>
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 fill-black" viewBox="0 0 320.591 320.591">
          <path
            d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z"
            data-original="#000000"></path>
          <path
            d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"
            data-original="#000000"></path>
        </svg>
      </button>


      <!-- Links displayed in navbar in wide view -->
      <div
        class="lg:!flex lg:flex-auto max-lg:fixed max-lg:bg-white max-lg:w-1/2 max-lg:min-w-[300px] max-lg:top-0 max-lg:left-0 max-lg:p-6 max-lg:h-full max-lg:shadow-md max-lg:overflow-auto z-50">


            <!-- logged out desktop wide nav links -->
        @if (authUser === null) {
          SHITE
          <ul class="lg:flex lg:gap-x-8 max-lg:space-y-2 subpixel-antialiased">
            @for (item of navRoutes.loggedOutNavRoutes; track item.name; let i = $index) {
              <li class="mb-6 hidden max-lg:block">
                <a [routerLink]="item.route" routerLinkActive="active" ariaCurrentWhenActive="page"
                class="font-semibold transition duration-[40ms] ease-in hover:text-primary hover:underline"
                >
                  {{ item.name }}
                </a>
              </li>
            }
          </ul>
        }

      <!-- logged in desktop wide nav links -->
      @if (authUser !== null) {
        <ul class="lg:flex lg:gap-x-8 max-lg:space-y-2 subpixel-antialiased">
          @for (item of navRoutes.loggedInNavRoutes; track item.name; let i = $index) {
            <li class="mb-6 hidden max-lg:block">
              <a [routerLink]="item.route" routerLinkActive="active" ariaCurrentWhenActive="page"
              class="font-semibold transition duration-[40ms] ease-in hover:text-primary hover:underline"
              >
                {{ item.name }}
              </a>
            </li>
          }
        </ul>
      }
      
        <!-- <ul class='lg:flex lg:gap-x-8 max-lg:space-y-2'>
          <li class='mb-6 hidden max-lg:block'>
            <a href="javascript:void(0)"><img src="https://readymadeui.com/readymadeui.svg" alt="logo" class='w-36' />
            </a>
          </li>
          <li class='max-lg:border-b max-lg:py-3'>
            <a href='javascript:void(0)'
              class='hover:text-[#007bff] text-[#007bff] block font-bold text-[15px]'>Home</a>
          </li>
          <li class='max-lg:border-b max-lg:py-3'><a href='javascript:void(0)'
            class='hover:text-[#007bff] text-gray-600 block font-bold text-[15px]'>Shop</a>
          </li>
          <li class='max-lg:border-b max-lg:py-3'><a href='javascript:void(0)'
            class='hover:text-[#007bff] text-gray-600 block font-bold text-[15px]'>Sale</a>
          </li>
          <li class='max-lg:border-b max-lg:py-3'><a href='javascript:void(0)'
            class='hover:text-[#007bff] text-gray-600 block font-bold text-[15px]'>Manage</a>
          </li>
        </ul> -->

        <!-- <ul class='lg:flex lg:items-center ml-auto max-lg:block lg:space-x-8 ml-auto'>
          <li class='max-lg:border-b max-lg:py-3 max-lg:mt-2'>
            <a href='javascript:void(0)'
              class='hover:text-[#007bff] text-gray-600 block font-bold text-[15px]'>Pricing</a>
          </li>
          <li class='max-lg:border-b max-lg:py-3 max-lg:mt-2'><a href='javascript:void(0)'
            class='hover:text-[#007bff] text-gray-600 block font-bold text-[15px]'>Learn</a>
          </li>
        </ul> -->
      </div>
    </div>

    <div class="border-l border-[#333] h-6 max-lg:hidden"></div>

    <div class='flex items-center ml-auto space-x-6'>
      <a routerLink="/log-in" routerLinkActive="active" ariaCurrentWhenActive="page"
      class="font-semibold transition duration-[40ms] ease-in hover:text-primary hover:underline"
      >
        Log In
      </a>
      <button
      class='px-4 py-2.5 text-sm rounded font-bold text-white border-2 border-primary bg-primary transition-all ease-in-out duration-300 hover:bg-transparent hover:text-[#1d294f]'>
        Start free trial
      </button>


          <!-- logged in user - avatar image provided -->
    <!-- @if (authUser !== null && authUser.imgUrl) { -->
      <div class="flex justify-end items-center mr-1">
        <details class="dropdown">
          <summary class="btn m-1 w-8 h-fit rounded-full">
            <!-- Open Close -->
            <div class="avatar">
              <div class="w-8 rounded-full">
                <img
                  src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
                  alt="Tailwind-CSS-Avatar-component" />
              </div>
            </div>
          </summary>
          <ul class="menu dropdown-content bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
            <li><a>Item 1</a></li>
            <li><a>Item 2</a></li>
          </ul>
        </details>
        <!-- <p-avatar (click)="userMenuPopover.toggle($event)"
        class="cursor-pointer"
        [style]="{height: '24px', width: '24px'}"
        [image]="authUser.imgUrl" 
        shape="circle" /> -->
        <!-- <div class="avatar">
          <div class="w-8 rounded">
            <img
              src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
              alt="Tailwind-CSS-Avatar-component" />
          </div>
        </div> -->
      </div>
    <!-- } -->

    <!-- logged in user - no image but fullname -->
    @if (authUser !== null && authUser.imgUrl === null && authUser.fullName) {
      <div class="flex justify-end items-center mr-1">
        <div class="flex justify-center items-center h-[24px] w-[24px] bg-slate-700 rounded-full">
          <div class="font-bold">
            {{ authUser.fullName[0] }}
          </div>
        </div>
      </div>
    }

    <!-- logged in standard user - no image but fullname -->
    <!-- @if (authUser !== null && authUser.imgUrl === null && !authUser.fullName) { -->
      <details class="dropdown">
        <summary class="btn m-1">open or close</summary>
        <ul class="menu dropdown-content bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
          <div class="pl-2 text-xs">
            {{ authUser?.email }}
          </div>
          <div class="my-2 pl-2 text-xs">
            joined: {{ authUser?.createdAt | date: 'dd MMM YYYY' }}
          </div>
          <li class="py-2 pl-2 pr-10 w-full transition duration-[50ms] ease-in hover:bg-gray-400 cursor-pointer" (click)="signOut()">
            <a>
              Logout
            </a>
          </li>
          <li class="py-2 pl-2 pr-10 w-full transition duration-[50ms] ease-in hover:bg-gray-400 cursor-pointer">
            <a routerLink="/alt" routerLinkActive="active" ariaCurrentWhenActive="page">
              Option 2
            </a>
          </li>
        </ul>
      </details>
    <!-- } -->

      <button class='lg:hidden'>
        <svg class="w-7 h-7" fill="#000" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>
  </div>
</header>