<navbar></navbar>

<!-- Toast Display -->
@if (toasts.length) {
  <div class="toast toast-top toast-end">
  @for (toast of toasts; track toast) {
      <div class="alert block w-[20rem] text-wrap border-none rounded-xs p-4" [ngStyle]="{ 'background': toast.bgColor, 'color': toast.textColor }">
        @if (toast.title) {
          <div class="text-xl font-semibold mb-1">{{ toast.title }}</div>
        }
        <div class="text-sm">{{ toast.message }}</div>
      </div>
    }
  </div>
}
<!-- <button class="btn btn-info btn-sm" (click)="changeTheme('winter')">Info</button>
<button class="btn btn-success" (click)="changeTheme('dracula')">Success</button>
<button class="btn btn-warning" (click)="changeTheme('cupcake')">Warning</button> -->
<button class="btn btn-error">Error</button>
<button class="btn bg-yellow-500" (click)="pushToast()">Push Toast</button>
<router-outlet />
<footbar></footbar>