<navbar></navbar>

<!-- Toast Display -->
@if (toasts.length) {
  <div class="toast toast-top toast-end" [ngStyle]="{'z-index': '100000'}">
  @for (toast of toasts; track toast) {
      <div class="alert block w-[20rem] text-wrap border-none rounded-xs p-4" [ngStyle]="{ 'background': toast.bgColor, 'color': toast.textColor }">
        @if (toast.title) {
          <div class="text-xl font-semibold mb-1">{{ toast.title }}</div>
        }
        <div class="text-sm">{{ toast.message }}</div>
      </div>
    }
  </div>
}

<!-- <button class="btn btn-error">Error</button>
<button class="btn bg-yellow-500" (click)="pushToast()">Push Toast</button> -->
<router-outlet />
<footbar></footbar>