/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


.fade-in-150 {
  -webkit-animation: fade-in 150ms ease-in;
  animation: fade-in 150ms ease-in;
}

@-webkit-keyframes fade-in {
  0% {
    -webkit-opacity: 0;
  }
  100% {
    -webkit-opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}