<navbar></navbar>

<!-- Toast Display -->
@if (toasts.length) {
  <div class="toast toast-top toast-end" [ngStyle]="{'z-index': '100000'}">
  @for (toast of toasts; track toast) {
      <div class="alert block w-[20rem] text-wrap border-none rounded-xs p-4" [ngStyle]="{ 'background': toast.bgColor, 'color': toast.textColor }">
        @if (toast.title) {
          <div class="text-xl font-semibold mb-1">{{ toast.title }}</div>
        }
        <div class="text-sm">{{ toast.message }}</div>
      </div>
    }
  </div>
}

<!-- chat open button/window -->
<div class="fixed bottom-10 right-10 z-50">
  @if (!isChatOpen) {
    <ng-container *ngIf="theme$ | async as theme">
      <div class="w-[2.5rem] h-[2.5rem] bg-base-content rounded-full cursor-pointer tooltip tooltip-left" data-tip="Chat" (click)="openChatBox()">
        <div class="h-full w-full flex flex-row justify-center items-center">
          <ng-icon [svg]="chatIcon" size="1.5rem"  [color]="theme === 'dark' ? 'dimgray' : 'white' "/>
        </div>
      </div>
    </ng-container>
  } @else {
    <chat-box (closeChat)="closeChatBox()"></chat-box>
  }
</div>

<!-- <button class="btn btn-error">Error</button>
<button class="btn bg-yellow-500" (click)="pushToast()">Push Toast</button> -->
<div class="min-h-[75vh]">
  <router-outlet/>
</div>
<footbar></footbar>