<standard-page-wrapper>
  <main class="border rounded flex flex-col justify-start items-center py-4 px-8">
    <div>

      <p-divider [align]="'center'" type="solid">
        <span>Request Reset Password</span>
      </p-divider>

      <form (ngSubmit)="onSubmitResetPassword()" [formGroup]="form">

        <p-floatlabel variant="on">
          <input 
            pInputText
            class="w-full"
            id="on_label"
            type="email"
            formControlName="email"
            autocomplete="off" 
          />
          <label for="on_label">Email</label>
        </p-floatlabel>

        <div class="w-full flex flex-row justify-end mt-6">
          <p-button
            class="mr-2"
            label="Clear"
            (click)="form.reset()"
            size="small"
          />
          <p-button
            [disabled]="!form.valid"
            label="Reset Password"
            type="submit"
            size="small"
          />
        </div>
        
      </form>
    </div>
  </main>
</standard-page-wrapper>