<div class="pl-2 text-xs">
  {{ user?.email }}
</div>
<div class="my-2 pl-2 text-xs">
  joined: {{ user?.createdAt | date: 'dd MMM YYYY' }}
</div>
<ul class="font-base text-md w-full">
  <a routerLinkActive="active" ariaCurrentWhenActive="page" (click)="signOut()">
    <li class="py-2 pl-2 w-full transition duration-[50ms] ease-in hover:bg-gray-200 cursor-pointer">
      Logout
    </li>
  </a>
  <a routerLink="/alt" routerLinkActive="active" ariaCurrentWhenActive="page">
    <li class="py-2 pl-2 w-full transition duration-[50ms] ease-in hover:bg-gray-200 cursor-pointer">
      Option 2
    </li>
  </a>
</ul>