<standard-page-wrapper>
  <main class="md:border rounded-sm border-neutral-content flex flex-col justify-start items-center p-8 w-[20rem] md:w-[25rem]">
    <div class="w-full">
      <section>
        <div class="divider font-bold text-xl mb-10">Request Reset Password</div>
  
        <form (ngSubmit)="onSubmitResetPassword()" [formGroup]="form">
          <label class="floating-label">
            <input 
              class="w-full input input-md"
              id="on_label"
              type="email"
              formControlName="email"
              autocomplete="off" 
            />
            <span for="on_label">Email</span>
          </label>
  
          <div class="w-full flex flex-row justify-end mt-6">
            <button
              class="btn mr-2"
              (click)="form.reset()"
              size="small"
            >Clear</button>
            <button
              class="btn"
              [disabled]="!form.valid"
              type="submit"
              size="small"
            >Reset Password</button>
          </div>
          
        </form>
      </section>
  
      <section class="mt-8 text-sm">
        @if (passwordResetEmailResponse === 'success') {
          <p>
            Please check your email shortly.
          </p>
          <p class="mt-2">
            A link to the change your password should be received within a few minutes.
          </p>
          <p class="mt-2">
            If email does not appear in inbox after a few minutes be sure to check your spam folder.
          </p>
        }
  
        @if (passwordResetEmailResponse === 'fail') {
          <p>
            There was an error sending the reset password email.
          </p>
          <p class="mt-2">
            Please try again or contact help.
          </p>
        }
      </section>

    </div>
  </main>
</standard-page-wrapper>